*.c
*.pyc
*.pyd
*.so
*.dll

*/__pycache__/*
.benchmarks/*
.coverage
.pytest_cache/*
pip-wheel-metadata/*

Pipfile.lock

benchmarks/fixtures/*

.libs

docs/build

# Distribution / packaging
.Python
env/
venv*/
build/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

ci/vcpkg_installed/