name: pyogrio-dev
channels:
  - conda-forge
dependencies:
  # Required
  - libgdal-core
  - numpy
  - shapely>=2
  # Optional
  - geopandas-base
  - pyarrow
  - pyproj
  # Specific for dev
  - cython
  - pre-commit
  - pytest
  - ruff==0.11.5
  - versioneer
