[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
cython = "*"
setuptools = "*"
pylint = "*"
wheel = "*"
pytest = "*"
pytest-cov = "*"
pytest-benchmark = "*"

[packages]
numpy = "*"
geopandas = "~=0.8"

[requires]
python_version = "3.8"
