pytest
# dependencies of geopandas (installed separately with --no-deps to avoid fiona)
pandas
pyproj
shapely
packaging
# optional test dependencies
pyarrow ; (python_version < '3.12') or (python_full_version >= '3.12.1')
