name: Docker GDAL Test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

# cancel running jobs on new commit to PR
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  TestLinux:
    name: GDAL ${{ matrix.container }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        container:
          - "ghcr.io/osgeo/gdal:ubuntu-small-latest" # >= python 3.10.6
          - "ghcr.io/osgeo/gdal:ubuntu-small-3.7.2" # python 3.10.12
          - "ghcr.io/osgeo/gdal:ubuntu-small-3.6.3" # python 3.10.6
          - "osgeo/gdal:ubuntu-small-3.5.3" # python 3.8.10

    container:
      image: ${{ matrix.container }}

    steps:
      - name: Install packages
        run: |
          apt-get update && apt-get install -y git python3-pip

      - uses: actions/checkout@v3

      - name: Install Python Dependencies
        run: |
          python3 -m pip install --no-cache-dir -U pip wheel
          python3 -m pip install --no-cache-dir -e .[dev,test,geopandas]

      - name: Install pyarrow
        if: matrix.container == 'osgeo/gdal:ubuntu-small-latest'
        run: |
          python3 -m pip install pyarrow

      - name: Test with pytest
        run: |
          pytest --cov=pyogrio --cov-report term-missing pyogrio/tests
