name: Docker GDAL Test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

# cancel running jobs on new commit to PR
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  TestLinux:
    name: GDAL ${{ matrix.container }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        container:
          - "osgeo/gdal:ubuntu-small-latest" # >= python 3.8.10
          - "osgeo/gdal:ubuntu-small-3.5.0" # python 3.8.10
          - "osgeo/gdal:ubuntu-small-3.4.3" # python 3.8.10
          - "osgeo/gdal:ubuntu-small-3.3.3" # python 3.8.10
          - "osgeo/gdal:ubuntu-small-3.2.3" # python 3.8.5
          - "osgeo/gdal:ubuntu-small-3.1.3" # python 3.8.2

    container:
      image: ${{ matrix.container }}

    steps:
      - uses: actions/checkout@v3

      - name: Install packages
        run: |
          apt-get update && apt-get install -y python3-pip

      - name: Install Python Dependencies
        run: |
          python3 -m pip install --no-cache-dir -U pip wheel
          python3 -m pip install --no-cache-dir --no-use-pep517 -e .[dev,test,geopandas]

      - name: Test with pytest
        run: |
          pytest --cov=pyogrio --cov-report term-missing pyogrio/tests
