name: Conda Tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

# cancel running jobs on new commit to PR
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    name: ${{ matrix.os }}, python ${{ matrix.python }}, ${{ matrix.env }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-2022]
        python: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        env: ["latest"]
        include:
          # environment with lower versions of optional dependencies
          - python: "3.10"
            extra: >-
              pandas=1.5
              geopandas=0.12
          # minimal environment without optional dependencies
          - os: "ubuntu-latest"
            python: "3.10"
            env: "minimal"
          # environment with nightly wheels
          - os: "ubuntu-latest"
            python: "3.11"
            env: "nightly-deps"
            pandas_future_infer_string: "1"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Install Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ci/envs/${{ matrix.env }}.yml
          create-args: >-
            python=${{ matrix.python }}
            ${{ matrix.extra }}

      - name: Set environment variables (Windows)
        if: runner.os == 'Windows'
        run: |
          echo "GDAL_INCLUDE_PATH=$MAMBA_ROOT_PREFIX/envs/test/Library/include." >> $GITHUB_ENV
          echo "GDAL_LIBRARY_PATH=$MAMBA_ROOT_PREFIX/envs/test/Library/lib" >> $GITHUB_ENV
          echo "GDAL_VERSION=$(gdalinfo --version | awk '{print $2}' | tr -d ",")" >> $GITHUB_ENV

      - name: Install pyogrio
        run: pip install -e .

      - name: Test
        env:
          PANDAS_FUTURE_INFER_STRING: ${{ matrix.pandas_future_infer_string || '0' }}
        run: |
          pytest -v --color=yes -r s pyogrio/tests
